.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  opacity: 0.9;
}

.text-video {
  position: relative;
  top: 68vh;
  text-align: center;
  color: #eceae6;
  padding: 5px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.titleH3 span {
  font-size: 1em;
  font-style: italic;
  font-style: bold;
  text-transform: uppercase;
}

.text-bienvenue p {
  margin-top: 8px;
}

.height100Vh {
  height: 100vh;
}
