.card {
  padding: 1.5em;
}

.pad {
  padding: 2em;
}

.pad-top {
  padding-top: 3em;
}

.pad-left {
  padding-left: 7em;
}

.sectionContainer {
  padding-left: 1em;
  padding-right: 1em;
}

.marg-bottom {
  margin-bottom: 0.7em;
}

.marg-top {
  margin-top: 1em;
}

.titleH1 {
  text-transform: uppercase;
  font-size: 3em;
}

.titleH3 {
  font-size: 2em;
  padding-top: 20px;
}

.container {
  position: relative;
  top: 20vh;
  margin-bottom: 25vh;
  overflow-x: clip;
}

.noScroll-x {
  position: relative;
  overflow-x: clip;
}

div::-webkit-scrollbar {
  display: none;
}

.navLink-style {
  text-decoration: none;
  color: #eceae6;
}

.button {
  background-color: #a9af37;
  color: #eceae6;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
