.card {
  padding: 1.5em;
}

.pad-top {
  padding-top: 3em;
}

.sectionContainer {
  padding-left: 1em;
  padding-right: 1em;
}

.marg-bottom {
  margin-bottom: 0.7em;
}

.marg-top {
  margin-top: 1em;
}
