.carousel-container {
  position: relative;
  overflow: hidden;
  //   z-index: -1;
}

.carousel-card {
  //   width: fit-content !important;
  width: 250px !important;
  text-align: center;
  padding-bottom: 20px;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  background-color: white;
  width: 80%;
  margin: 40px auto;
  box-shadow: 60px 60px 121px -58px rgba(133, 124, 119, 0.52);
}

.carousel-card img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  // border-radius: 5px;
}

.carousel-card p {
  padding: 20px 9px;
}
