.client-container {
  height: 100%;
}

.pp-container {
  height: 20vh;
  text-align: end;
  margin-right: 20px;

  .photo-profil {
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 3px 8px 1px;
  }
}

.client-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-evenly;
  p {
    padding: 7px 0;
    span {
      color: #2b2540;
      font-weight: bold;
    }
  }
}

.dog-container {
  display: flex;
  height: 45vh;

  .pp-dog {
    width: 50vw;
    height: 100%;
    object-fit: cover;
  }
  .dog-content {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin-left: 7px;
  }
}
.separateur {
  height: 50px;
}
